{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seat page</title>

    <!--  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/mdb.css' %}"> -->
    
    <link rel="stylesheet" href="{% static 'css/seat.css' %}">

    <!--  -->
</head>
<body>
        <!-- <div class="header container-fluid"> -->
            <nav class="navbar navbar-light bg-secondary container-fluid">
                <!-- <a class="navbar-brand">Navbar</a> -->
    
                <!-- Image and text -->
                <nav class="navbar navbar-light bg-seconday">
                  <a class="navbar-brand text-light font-weight-bolder" href="#">
                    <img src="{% static 'images/rr.png' %}" width="50" height="50" class="d-inline-block align-center" alt="">
                    R THEATERS
                  </a>
                </nav>
    
                <div class="btn-group mr-1 col-sm " role="group" aria-label="First group">
                  <!-- <button type="button" class="btn btn-secondary"><img src="{% static 'images/suzume.jpg' %}" alt=""></button> -->
                  
                  <button type="button" class="btn btn-secondary"><a href="{% url 'index' %}" class="text-reset text-decoration-none">HOME</a></button>
                  <button type="button" class="btn btn-secondary"><a href="{% url 'booking' %}" class="text-reset text-decoration-none">BOOKING</a></button>
                  <button type="button" class="btn btn-secondary"><a href="{% url 'contact' %}" class="text-reset text-decoration-none">CONTACT US</a></button>
                   
                </div>
                      
                      
                  <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                  </form>
            </nav>
        </div>
    
        <div >
    
            <div class="movie-container">
                <label>Pick a movie: </label>
                <select id="movie">
                  <option value="0" >-- select --</option>
                  <option value="250">Suzume (Rs. 250)</option>
                  <option value="200">Naruto The Last (Rs. 200)</option>
                  <option value="280" class="active">Avengers Endgame (Rs. 280)</option>
                  <option value="180">Evil Dead Rise (Rs. 180)</option>
                  <option value="220">Spider-Man (Rs. 220)</option>
                </select>
              
                <ul class="showcase">
                  <li>
                    <div class="seat"></div>
                    <small>N/A</small>
                  </li>
                  <li>
                    <div class="seat selected"></div>
                    <small>Selected</small>
                  </li>
                  <li>
                    <div class="seat occupied"></div>
                    <small>Occupied</small>
                  </li>
                </ul>
              
                <div class="container">
                  <div class="screen"></div>
              
                  <div class="row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                  </div>
                  <div class="row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat occupied"></div>
                    <div class="seat occupied"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                  </div>
                  <div class="row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat occupied"></div>
                    <div class="seat occupied"></div>
                  </div>
                  <div class="row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                  </div>
                  <div class="row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat occupied"></div>
                    <div class="seat occupied"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                  </div>
                  <div class="row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat occupied"></div>
                    <div class="seat occupied"></div>
                    <div class="seat occupied"></div>
                    <div class="seat"></div>
                  </div>
              
                  <p class="text">
                    You have selected <span id="count">0</span> seats for the total price of Rs. <span id="total">0</span>
                  </p>
                </div>
    
                <button type="button" class="btn btn-primary btn-lg float-right" Now>Pay Now</button>
    
    
              </div>
              
    
    
    
        </div>
    
    
    <!-- <div class="container-fluid"> -->
        <!-- <footer class="container-fluid"> -->
            <div class="card text-center container-fluid">
              <!-- <div class="card-header">
                Featured
              </div> -->
              <!-- <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a> -->
              <!-- </div> -->
              <div class="card-footer text-muted">
                <h6> All rights reserved by R THEATERS </h6>
                &#169; 2023
              </div>
            </div>
        
          </footer>
    </div>
    <!-- js start -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/mdb.js' %}"></script>

    <script src="{% static 'js/seat.js' %}"></script>
    <!-- js end -->


</body>
</html>